# Compiled Python code
__pycache__/
# You should download the library file, not store it in version control
*.pyd
*.pyc

venv/*
maps/*
# files in .idea/
misc.xml
starcraft-ai.iml
workspace.xml
usage.statistics.xml
tasks.xml
